.Movie {
  padding: 40px;
}

input[type="text"] {
  width: 200px;
}
input[type="number"] {
  width: 50px;
}

ul > li > span {
  margin-left: 3px;
}

button {
  background-color: rgb(173, 170, 170);
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
label {
  display: block;
}
